<div class="small-12 small-centered columns">
    <ul id="breadcrumbs" class="breadcrumbs">
        <li>No parent tags.</li>
    </ul>
</div>

<script>
function refresh_breadcrumbs() {
    $.ajax({
        url: '{% url 'breadcrumbs' page id %}',
        dataType: 'json',
        success: function(data) {
            if (data['success']) {
                $('#breadcrumbs').html("");
                var tags = data['tags'];
                for (var i = 0; i < tags.length; i++) {
                    tag = tags[i];
                    var url_mask = "{% url 'tag' 0 %}".replace(/0/, tag['tag_id'].toString());
                    var html = '<li><a href="' + url_mask + '"><span class="label">' + tag['tag_name'] + '</span></a></li>';
                    $('#breadcrumbs').append(html);
                }
            }
        },
    });
}
refresh_breadcrumbs();
</script>
