<div id="create_post" class="hide">
    <div class="small-8 small-centered columns">
        <div class="row">
            <label>Create A New Post</label>
            <textarea id="post_text" style="height: 150px;" placeholder="Post text..."></textarea>
        </div>
        <div class="row">
            <a id="post_submit" class="button expand">Create</a>
        </div>
    </div>
</div>

<script>
function post_create() {
    if (logged_in) {
        $('#create_post').removeClass('hide');
    } else {
        $('#create_post').addClass('hide');
    }
}
post_create();
$(document).on('login', post_create);
$(document).on('logout', post_create);
$(document).on('register', post_create);

$(document).on('click', '#post_submit', function() {
    var post_text = $('#post_text').val();
    $.ajax({
        url: '{% url 'new_post' %}',
        type: 'POST',
        data: {
            'topic_id': {{ topic_id }},
            'parent_id': 0,
            'post_text': post_text,
        },
        dataType: 'json',
        success: function(data) {
            if (data['success']) {
                var args = [data.post_author, data.post_text, data.post_date];
                $(document).trigger('add_post', args);
            }
        },
    });
});
</script>
