
<div class="row">
    <hr />
    <div class="small-12 columns">
        <p>
            Welcome to Parallel!
        </p>
        <div class="small-10 small-centered columns">
            <table id="topics" width='100%'>
                <thead>
                    <tr>
                        <th>Title</th>
                        <th width="150">Author</th>
                        <th width="150">Last Post</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>This is longer content Donec id elit non mi porta gravida at eget metus.</td>
                        <td>Content Goes Here</td>
                        <td>Content Goes Here</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
$.ajax({
    url: '{% url 'topics' 1 %}',
    success: function( data ) {
        if (data.success) {
            console.log('topics retrieved');
            html = '';
            for (var i = 0; i < data.topics.length; i++) {
                var topic = data.topics[i];
                var url_mask = "{% url 'posts' 0 %}".replace(/0/, topic.topic_id.toString());
                html += '<tr>';
                html += '<td><a href="' + url_mask + '">' + topic.topic_title + '</a></td>';
                html += '<td>' + topic.topic_author + '</td>';
                html += '<td>' + topic.last_post + '</td>';
                html += '</tr>';
            }
            $('#topics tbody').html(html);
        }
    }
});
</script>
