/* Custom CSS Goes Here */

.post_info {
    background-color: #F5F5F5;
    padding: 5px;
}

.post_text {
    /* background-color: #FFFFFF; */
    vertical-align: top;
    text-align: left;
    padding: 15px;
    margin: 5px;
}

.post_options {
    text-align: right;
    padding: 10px;
    /* background-color: #FAFAFA; */
}

table {
    border-width: 0;
}

.post {
    width: 100%;
}

#auth_modal {
    background-color: #efefef;
    padding: 20px;
}

#auth_modal .tabs-content {
    padding: 20px;
    background-color: #ffffff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}


/* Overriding Foundation defaults */
.reveal-modal {
    border-radius: 5px;
    border-width: 0px;
}
